/* reset */
img {
    max-width: 100%;
}

.page-body {
    margin: 0%;
}

/* pattern background */
.my-bg {
    background-image: url('../img/pattern.png');
    background-color: #4ea0fc;
    background-size: 20%;
    height: 70px;
}

/* page-logo */
.logo {
    height: 40px;
    margin-top: 25px;
    margin-left: 8px; 
}

/* tim-img */
.tim-img {
    margin-left: 8px;
}

.main-paragraph {
    margin-left: 8px;
}

.ul {
    margin-left: -16px;
}

/* table */
