/* reset */
img {
    max-width: 100%;
}

.page-body {
    margin: 0%;
}

/* pattern background */
.my-bg {
    background-image: url('../img/pattern.png');
    background-color: #4ea0fc;
    background-size: 20%;
    height: 70px;
    margin: 0px;
}

/* page-logo */
.logo {
    height: 40px;
    margin-top: 25px;
    margin-left: 16px; 
}

.main-header {
    margin-left: -8px;
}

/* title */
.page-title {
    margin-left: 16px;
}

h2 {
    color: #969696;
    margin-left: 16px;
}

.author {
    text-decoration: none;
}

/* main-body */
.main-body {
    margin-left: 8px;
}

/* tim-img */
.tim-img {
    margin-left: 0px;
}

.ul {
    margin-left: -24px;
}

/* table */
table {
    border-spacing: 0px;
    width: 100%;
}

th {
    background-color: #22a9e3;
}

.th {
    height: 10px;
    width: 200px;
    text-align: left;
}

td {
    height: 40px;
}

.colored-tr {
    background-color: #b1e5f1;
}

.highlight {
    background-color: #f9fd73;
}

/* footer */
.page-footer {
    margin-left: 8px;
}

.footer-title {
    color: #848484;
}

.monitor {
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    height: 133px;
    width: 200px;
    background-size: contain;
    color: #ffffff;
}
.graph {
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;
    height: 133px;
    width: 200px;
    background-size: contain;
    color: #ffffff;
}
